<div class="card">
    <h3>Technology and Connectivity</h3>
    <p>
      Structurally, Egan’s novel is very much about how tightly
      connected characters' lives are. In some of the chapters,
      primary characters take the stage, and in others, they take a
      backseat.
    </p>
</div>