---
import logo from"../static/GS-Logo.svg";
import { Image } from "astro:assets";
import Nav from "./Nav.astro";
const { isActive } = Astro.props;
---

<header class="p-200">
    <div class="container">
      <div class="flex space-between content-center">
        <div class="logo">
          <a href="index.html">
            <Image
              src={logo}
              alt="Goon Squad Logo"
              title="Goon Squad logo"
          /></a>
        </div>
        <Nav />
        <div class="cta">
          <a href="#" class="btn-primary">Join the Squad</a>
        </div>
      </div>
    </div>
  </header>