<nav>
    <ul class="flex" id="nav" role="list" aria-label="Primary Navigation" >
      <li class="p-100">
        <a href="/">Home</a>
      </li>
      <li class="p-100">
        <a href="/found-objects">Found Objects</a>
      </li>
      <li class="p-100">
        <a href="/gold-cure">Gold Cure</a></li>
      <li class="p-100">
        <a href="/music">Music</a></li>
    </ul>
  </nav>

  <style>
    .active {
      color: var(--clr-primary);
    }
    /* Nav links hover effects */
    header ul li a {
      transition: 0.3s ease-in;
    }
    header ul li a:hover {
      transform: rotate(3deg);
      color: var(--clr-primary);
      border-bottom: 1px solid var(--clr-primary);
    }
  </style>
  <script>
    const links = document.querySelector('#nav');
    const navLinks = links.querySelectorAll("a"); 
    const currentURL = window.location.href;
    navLinks.forEach((link) => {
        if (link.href === currentURL) {
      link.classList.add("active");
    }
  });
  </script>